body{
    background-image: url(/img/houses.jpg);
    background-size: cover;
    background-position: center;
}

.login-page{
    background: rgba(255, 255, 255, 0.774);
    padding: 20px;
    width: 250px;
    margin: auto;   
}

.form{
    position:relative;
    z-index: 1;
    background: transparent;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input{
    font-family: "Roboto", sans-serif;
    background: transparent;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
}

.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: rgba(109, 226, 111, 0.795);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover, .form button:active{
    background: #43A047;
}

.form .message{
    margin: 15px 0 0;
    color: #080808;
    font-size: 12px;
}

.form .message a{
    color: #4CAF50;
    text-decoration: none;
}
