<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/advice.css">

  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container">

      <h1 class="mb-3">SERCH ADVICE</h1>
        
    </div>
  </body>
</html>
