<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/advice.css">
    <style>
      .button {
        background-color: transparent;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container">
      <div class="row">
          <h2 class="banner">ADVICE</h2>
      </div>
        <div class="row">
          <a class="transparent-btn" href="/advice-information">Information</a>
          <a class="transparent-btn" href="/advice-search">Search</a>
          <a class="transparent-btn" href="#">Chat</a>
        </div>
      </div>
  </body>
</html>
