<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-transparent mb-3">
      
      <li class="navbar-brand"><a href="/" class="nav-link">VVE Sustainability</a></li>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto w-100 justify-content-center">
              <li class="nav-item"><a href="/advice" class="nav-link">Advice</a></li>
              <li class="nav-item"><a href="/led" class="nav-link">LED-LIGHTING</a></li>
              <li class="nav-item"><a href="/insulation" class="nav-link">INSULATION</a></li>
              <li class="nav-item"><a href="/hr" class="nav-link">HR++</a></li>
              <li class="nav-item"><a href="/energy-generation" class="nav-link">ENERGY GENERATION</a></li>
              <li class="nav-item"><a href="/charging-station" class="nav-link">CHARGIN STATION</a></li>
              <li class="nav-item"><a href="/finance" class="nav-link">FINANCE</a></li>
            </ul>
        </div>
            <ul class="navbar-nav right-nav ml-auto">
              <li class="nav-item"><a href="/shop" class="nav-link">SHOP</a></li>
              <% if(isAuthenticated){ %>
                <li class="nav-item"><a href="/users/<%= currentUser.username%>" class="nav-link">My Account</a></li>
                <li class="nav-item"><a href="/logout" class="nav-link">LOGOUT</a></li>
              <% } else { %>
                <li class="nav-item"><a href="/users/new" class="nav-link">REGISTER</a></li>
                <li class="nav-item"><a href="/login" class="nav-link">LOGIN</a></li>
              <% } %>
              <input type="checkbox" id="menuicon">
              <div class="iconHolder">
                <label for="menuicon" class="menubtn">
                  <span></span>
                  <span></span>
                  <span></span>
                </label>
              </div>
              <div class="container">
                <div class="sidebar">
                  <span class="area_desc">  </span>
                    <div class="sidenav">
                      <li class = "sidebar-item"><a href="#" class="sidebar-link">NEWS</a></li>
                      <li class = "sidebar-item"><a href="/newsletter" class="sidebar-link">NEWSLETTER</a></li>
                      <li class = "sidebar-item"><a href="/map" class="sidebar-link">FIND VVE</a></li>
                      <li class = "sidebar-item"><a href="/support" class="sidebar-link">SUPPORT</a></li>
                    </div>
                  
                </div>
              </div>
            </ul>         
    </nav>
</body>
</html>