<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<h1>Register</h1>
<from action = "/register" method = "POST">
    <div>
        <lable for = "name">Name</lable>
        <input type = "text" id = "name" name="name"
        required>
    </div>
    <div>
        <lable for = "email">Email</lable>
        <input type = "email" id = "email" name="email"
        required>
    </div>
    <div>
        <lable for = "password">Password</lable>
        <input type = "password" id = "password" name="password"
        required>
    </div>
    <button type="submit">Register</button>
</from>
<a href="/login">Login</a>