body {
  font-family: 'Raleway', sans-serif;
  background-image: url("../img/image.jpg"); 
  height:100vh;
  background-size: cover;
  background-position: center;
} 

.navbar-brand{
  color: white;
}

#fullpage .section{
  height: 100vh;
  display: block;
  width: 100%;
  background: transparent;
}
#fullpage .section .fp-tableCell{
  width: 100vw;
}
#fullpage .section h1{
  color: white;
  text-align: center;
  width: 100%;
}
#fullpage .section h2{
  color: white;
  text-align: center;
  width: 100%;
}
#fullpage .section p{
  color: white;
  width: 50%;
  margin: auto;
}
#fp-nav ul li a span{
  background: white;
}
