body {
  font-family: 'Raleway', sans-serif;
    background-image: url("../img/image.jpg"); 
    height:100vh;
    background-size: cover;
    background-position: center;
  }

  .container{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    margin-top: -200px; /* half of you height */
    width: 400px;
    margin-left: -200px /* half of you width */
  }

  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 1000px;
}

  .container .row{ 
      position: relative;
      text-align: center;
      max-width: 1000px;
      padding: 20px 0;
      color: white
  }

  .container .row h2{
    color: #ffffff;
    font-size: 40px;
    width: 420px;
  }

  .navbar-brand{
    color: white;
  }
  
  button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  a.transparent-btn{
    transition: .3s ease-in-out;
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 5px;
    text-align: center;
    width: 8em;
    border-radius: 1em;
    margin: 15px;
    text-decoration: none;
  }

  a.transparent-btn:hover{
    transition: .3s ease-in-out;
    background: white;
    color: black;
  }

  .button-group{
    background-color: transparent;
  }
