body {
    font-family: 'Raleway', sans-serif;
    background-image: url("../img/house2.jpg");
    height:100vh;
    background-size: cover;
    background-position: center;
  }

  .breadcrumb-item {
    font-size: 0.8em !important;
  }
  .ellipsis{
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .board-table {
    table-layout: fixed;
  }
  .board-table .numId,
  .board-table .views{
    width: 60px;
    text-align: center;
  }
  .board-table .author,
  .board-table .date {
    width: 100px;
    text-align: center;
  }
  .board-table .title-container:hover .title-comments,
  .board-table .title-container:hover .title-text,
  .board-table .title-container:hover .title-attachment
  {
    text-decoration: underline;
  }
  
  .post-body,
  .comment-text {
    white-space: pre-line;
  }
  .post-info{
    font-size: 0.8em;
  }
  
  .user-form {
    width: 400px;
  }
  
  .post-index-tool {
    max-width: 450px;
  }
  .post-index-tool input[type='text']{
    max-width: 130px;
  }
  
  .highlighted {
    background-color: yellow;
  }
  
  .comment-edit,
  .comment-reply,
  .comment-edit-enabled .comment-show {
    display:none;
  }
  
  .comment-edit-enabled .comment-edit,
  .comment-reply-enabled .comment-reply {
    display:inherit;
  }

.navbar-brand .nav-link{
  color: white;
  font-size: 15px;
}

.navbar{
  position: relative;
  z-index: 200;
  font-size: 14px;
}


.navbar.navbar-dark .navbar-nav .nav-link{
  color: #ffffff;
}

.navbar.navbar-dark .navbar-nav .nav-link:hover{
  text-decoration: underline;
}

.right-nav{
  padding-right: 2em;
} 

.container .sidebar {
	position: fixed;
	top: 0;
	right: -300px;
	width: 300px;
	height: 100%;
	background: rgba(255, 255, 255, 0.76);
	z-index: 30;
  transition: .35s;
}

.container .sidebar .sidenav{
  margin:40px;
  padding-top:60px;
  font-size: 16px;
}

.container .sidebar .sidenav .sidebar-link:hover{
  text-decoration: underline;
}

.container .sidebar .sidenav .sidebar-item{
  padding:10px;
  border-bottom: 2px solid rgb(116, 116, 116);
}

.container .sidebar .sidenav a {
  color: rgb(116, 116, 116);
  text-decoration: none;
  background-color: transparent;
}

input#menuicon{
  display: none;
}

.menubtn {
	display: block;
	width: 35px;
	height: 35px;
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
  cursor: pointer;
  z-index: 50;
}

.menubtn span {
	display: block;
	position: absolute;
	width: 80%;
	height: 5px;
	border-radius: 30px;
	background: #ffffff;
	transition: all .35s;
}

.menubtn span:nth-child(1) {
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
}

.menubtn span:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.menubtn span:nth-child(3) {
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);
}

/* input[id="menuicon"]:checked~.iconHolder .menubtn {
	z-index: 2;
} */

input[id="menuicon"]:checked~.iconHolder .menubtn span {
  background: #000000;
}

input[id="menuicon"]:checked~.iconHolder .menubtn span:nth-child(1) {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(135deg);
}

input[id="menuicon"]:checked~.iconHolder .menubtn span:nth-child(2) {
	/* left: 50%;
	transform: translate(-50%, -50%) scale(2); */
	opacity: 0;
}

input[id="menuicon"]:checked~.iconHolder .menubtn span:nth-child(3) {
	bottom: 50%;
	transform: translate(-50%, 50%) rotate(-135deg);
}

input[id="menuicon"]:checked~.container .sidebar {
	right: 0;
}


.btn-primary {
  transition: .3s ease-in-out;
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 5px;
  text-align: center;
  width: 8em;
  border-radius: 1em;
  margin: 5px;
  text-decoration: none;
}

.btn-primary:hover, .btn-primary:active{
  transition: .3s ease-in-out;
  background: white;
  color: black;
}