body {
    font-family: 'Raleway', sans-serif;
    background-image: url("../img/house2.jpg");
    height:100vh;
    background-size: cover;
    background-position: center;
  }
  
.form{
    background-color: rgba(99, 96, 96, 0.247);
    color: white;
    padding: 60px;
    text-align: center;
}

.form p{
    width: 100%;
   
}

.btn-primary {
    transition: .3s ease-in-out;
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 5px;
    text-align: center;
    width: 8em;
    border-radius: 1em;
    margin: 5px;
    text-decoration: none;
}
.btn-primary:hover, .btn-primary:active{
    transition: .3s ease-in-out;
    background: white;
    color: black;
}

.col-sm-3  input{
    outline: 1;
    background: white;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    font-size: 14px;
}
.col-sm-3 {   
    position:relative;
    z-index: 1;
    max-width: 20%;
    color: white;
}

.row {
    padding: 10px;
}