<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container">

      <h2 class="mb-3">About</h2>

      <P>This page is about VVE</p>

    </div>
  </body>
</html>
