<!doctype html>
<html>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    
      <script src="/givemejquery"></script>
  <head>
    <title>Solar Panel General Chat</title>
    <h1>Chat Room to discuss Solar Panels</h1>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(86, 245, 79); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: rgb(86, 200, 79); }
      #messages li:nth-child(even) { background: rgb(13, 231, 97); }
      #messages{height: 600px;}
    </style>
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
<script type="text/javascript">
  $(function () {
      
      const socket = new io('ws://64.227.79.217:8000/chats',{
        transports: ['websocket'],
          upgrade: false
    });
      socket.on('connect', function(){
         
      var chatData = <%- JSON.stringify(chatData) %>;
      console.log("printing client-side data recieved: " + chatData);
    //fetch("/chats").then(json  =>  {
//J//SON.parse(chatData  =>  {
let  li  =  document.createElement("li");
let messages = document.getElementById("messages")
let  span  =  document.createElement("span");
      for(i =0; i < chatData.length; i++){ //For every message recieved
$('#messages').append($('<li>').text(chatData[i].message));
          $('#messages').append($('<span>').text("by " + chatData[i].sender));
      }
    /*messages
    .appendChild(span)
    .append("by "  +  chatData.sender  +  ": "    /*formatTimeAgo(chatData.createdAt));*/
      
    $('form').submit(function(e){
      e.preventDefault(); // prevents page reloading
      socket.emit('chat message', $('#m').val()); 
        console.log("Emitting Message")
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function(msg){
      $('#messages').append($('<li>').text(msg));
    });
   
      
//});

    socket.on("received", msgData => {
    let li = document.createElement("li");
    let span = document.createElement("span");
    var messages = document.getElementById("messages");
    messages.appendChild(li).append(msgData.message);
    messages.appendChild(span).append("by " + "anonymous" + ": " + "just now");
    console.log("Hello bingo!");
  });/*}).catch(err => { console.log(err); });*/
      });
      
      });
</script>

  </body>
</html>