<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container">

      <h3 class="mb-3">Socket.IO chat</h3>

      <ul id = "messages"></ul>
      <form adction = "">
          <input id = "m" autocomplete="off" /><button>Send</button>
      </form>

      <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

    </div>
  </body>
</html>
