<!--This is first page-->
<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1 class="display-4">VVE Sustainability</h1>
        <P class="lead">Welcome to VVE Sustainability.</p>
        <p class = "lead"> Helping make sustainable desicions for a good price. </p>
        <hr class = "my-4">
          
        <p>Make commuinity</p>
        <a class="btn btn-primary btn-lg" href="https://twitter.com/GirlsWhoCode?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" role = "button">Twiter</a>
        <a class="btn btn-primary btn-lg" href="https://www.instagram.com/girlswhocode/" role = "button">Instagram</a>
        <a class="btn btn-primary btn-lg" href="https://www.facebook.com/GirlsWhoCode/" role = "button">Facebook</a>
          
      </div>

    </div>
  </body>
</html>
