<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css" rel="stylesheet"> 
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js"></script>
    
    <link rel="stylesheet" href="/css/newsletter.css">
    
  </head>
  <body>
    <%- include('../partials/nav') %>

    <!--vertical slide full page-->
    <div class="section">
        <div class="container">
            <h1>NEWSLETTER</h1>
            <h3>Subscribe to the VVE newsletter!</h3>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">SUBSCRIBE</button>
            </div>
        </div> 
    </div>            
  </body>
</html>
