<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js"></script>
  <script src="/js/fullpage.js"></script>
  <link rel="stylesheet" href="/css/shop.css">

</head>
<body>
<%- include('../partials/nav') %>

<!--vertical slide full page-->
<div id="fullpage">
  <div class="section">
    <h1>Shop</h1>

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <h3>Label</h3>
          <p>VVE Golden platform offers sustainability labeling for VVEs</p>
          <a class="transparent-btn" href="#">Order now</a>
        </div>
        <div class="col-md-4 col-xs-12">
          <h3>Second Opinion</h3>
          <p>Not sure of your services? Get it checked by the Golden VVE!</p>
          <a class="transparent-btn" href="#">Order now</a>
        </div>
        <div class="col-md-4 col-xs-12">
          <h3>Project Guidance</h3>
          <p>Offering professional sustainable project guidance for any VVE.</p>
          <a class="transparent-btn" href="#">Order now</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
