<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css" rel="stylesheet"> 
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js"></script>
    <script src="/js/fullpage.js"></script>
    <link rel="stylesheet" href="/css/advice-information.css">
    
  </head>
  <body>
    <%- include('../partials/nav') %>

    <!--vertical slide full page-->
    <div id="fullpage">
      <div class="section">
        <h1>INSULATION INFORMATION</h1>
        <p></p>
      </div>
      <div class="section"  >
        <h2>INSULATION FLOOR</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan ege. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
      </div>
      <div class="section">
        <h2>INSULATION FACADE</h2>
        <p></p>
      </div>
      <div class="section">
        <h2>INSULATION ROOF</h2>
        <p></p>
      </div>

    </div>
  </body>
</html>
